.b-spoiler_block
  transition: margin .25s

  & + .b-spoiler_block
    margin-top: 2px

  &:not(.is-opened)
    & > div
      display: none

  &.is-opened
    & > button
      &:after
        transform: rotate(180deg)
        margin-top: 0px

  & > button
    +shiki_button
    padding-right: 28px

    &:after
      +shikimori('\E847')
      font-size: 17px
      margin: 1px 0 0 8px
      position: absolute
      transition: transform .25s, margin .25s
      font-weight: bold

  & > div
    background-color: #f3f5f7
    border-left: 4px solid #456
    padding: 3px 0 3px 14px

    & > .b-list
      margin-left: 10px
